<div class="mb-5 row d-lg-flex justify-content-between">
	<div class="col-12 order-2 order-md-1 mt-4 mt-sm-0 col-sm-8">
		{# Page post title #}
		<{{title_level}} class="font-weight-bold mb-1">
		<a class="text-dark" href="{{page.url}}">{{ page_title|raw }}</a>
		</{{title_level}}>
		{# If summary is enabled it will displayed #}
		{% if page.header.summary.enabled ?? true %}
			{% include 'partials/blog/page-summary.html.twig' %}
		{% endif %}
		{# Show categories #}
		<small class="d-block text-muted">
			{{ 'MUNDANA.MISC.IN'|t }} <span class="catlist">
			{% for category in page.taxonomy.category %}
				<a class="text-capitalize text-{{ color_style }} smoothscroll" href="{{ blog.url }}/category{{ config.system.param_sep }}{{ category }}">{{ category|raw }}</a>{% if not loop.last %}<span class="sep">, </span>{% endif %}
			{% endfor %}
			</span>
		</small>
		{# Show post date #}
		<small class="d-block text-muted">
			{% include 'partials/blog/date.html.twig' %}
		</small>
	</div>
	{# Show featured image if it's defined and show_image is true #}
	{% if featuredImage and show_image %}
	<div class="col-12 mt-0 col-sm-4 mt-0 mt-sm-0 text-lg-end">
		<a href="{{page.url}}" aria-label="{{ page_title|raw }}">
			{{ featuredImage.loading(loadLazy ? 'lazy' : 'eager')
			.attribute('decoding','async')
			.attribute('width', '424')
            .attribute('height', '318')
			.derivatives(320,424,320)
			.sizes('(max-width: 768px) 100vw, 50vw')
			.html(page_title|raw, page_title|raw,'w-100 h-auto rounded')|raw }}
		</a>
	</div>
	{% endif %}
</div>
