{# FEATURED SECTION - SIDEBAR #}

<div class="sidebar-content my-5">
    <h3 class="h4 font-weight-bold spanborder">
        <span>{{ block_title }}</span>
    </h3>
    <ol class="list-featured">
        {% for p in page.evaluate({'@taxonomy.tag':featuredposts_tag}).order('date', 'desc').slice(0,featuredposts_number) %}
            <li class="mb-4">
                <span>
                    <h3 class="h2 font-weight-bold h6">
                        <a href="{{ p.url }}" class="text-dark">{{ p.title|raw }}</a>
                    </h2>
                    <span class="d-block text-muted">
                        {{ 'MUNDANA.MISC.IN'|t }}
                        <span class="catlist">
                            {% for category in p.taxonomy.category %}
                                <a class="text-capitalize text-{{ color_style }} smoothscroll" href="{{ blog.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category|raw }}</a>
                                <span class="sep">,	</span>
                            {% endfor %}
                        </span>
                    </span>
                </span>
            </li>
        {% endfor %}
    </ol>
</div>